<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Game Store</title>

  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/css/shop-homepage.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <a class="navbar-brand" href="/index">Logo</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a id="myBtn">Sign In</a>
            <!-- Trigger/Open The Modal -->

            <!-- The Modal -->
            <div id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                <div class="form">
                  <ul class="tab-group">
                    <li class="tab active"><a href="#login">Log In</a></li>
                    <li class="tab"><a href="#signup">Sign Up</a></li>
                  </ul>

                  <div class="tab-content">
                    <div id="login">
                      <h1>Welcome Back!</h1>

                      <form action="/signin" method="post">

                        <div class="field-wrap">
                          <label>Email Address<span class="req">*</span></label>
                          <input type="email" required autocomplete="off" name="email" />
                        </div>

                        <div class="field-wrap">
                          <label>Password<span class="req">*</span></label>
                          <input type="password" required autocomplete="off" name="password" />
                        </div>

                        <p class="forgot"><a href="#">Forgot Password?</a></p>

                        <button class="button button-block" />Log In</button>

                      </form>

                    </div>

                    <div id="signup">
                      <h1>Sign Up Here</h1>

                      <form action="/signup" method="post">
                        <div class="top-row">
                          <div class="field-wrap">
                            <label>First Name<span class="req">*</span></label>
                            <input type="text" required autocomplete="off" name="name" />
                          </div>

                          <div class="field-wrap">
                            <label>Last Name<span class="req">*</span></label>
                            <input type="text" required autocomplete="off" name="surname" />
                          </div>
                        </div>

                        <div class="field-wrap">
                          <label>Email Address<span class="req">*</span></label>
                          <input type="email" required autocomplete="off" name="email" />
                        </div>

                        <div class="field-wrap">
                          <label>Username<span class="req">*</span></label>
                          <input type="text" required autocomplete="off" name="username" />
                        </div>

                        <div class="field-wrap">
                          <label>Set A Password<span class="req">*</span></label>
                          <input type="password" required autocomplete="off" name="password" />
                        </div>

                        <div class="field-wrap">
                          <label>Confirm Password<span class="req">*</span></label>
                          <input type="password" required autocomplete="off" name="confirmation" />
                        </div>

                        <div class="field-warp">
                          <div>
                            <select name="mySelect" id="country">
                              <option value="">-- Select Country --</option>
 				                      <option value="Thailand">Thailand</option>
                              <option value="Japan">Japan</option>
                              <option value="U.S.">United States</option>
                              <option value="U.K.">United Kingdom</option>
                              <option value="India">India</option>
                              <option value="Hongkong">Hongkong</option>
                              <option value="Brazil">Brazil</option>
                              <option value="China">China</option>
                              <option value="Singapore">Singapore</option>
                              <option value="Spain">Spain</option>
                          </select>

                            <select name="mySelect" id="gender">
                              <option value="">-- Select Gender --</option>
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                            </select>

                            <select name="mySelect" id="age">
                              <option value="">-- Select Age --</option>
                              <option value="13">13</option>
                              <option value="14">14</option>
                              <option value="15">15</option>
                              <option value="16">16</option>
                              <option value="17">17</option>
                              <option value="18">18</option>
                              <option value="19">19</option>
                              <option value="20">20</option>
                              <option value="21">21</option>
                              <option value="22">22</option>
                              <option value="23">23</option>
                              <option value="24">24</option>
                              <option value="25">25</option>
                              <option value="26">26</option>
                              <option value="27">27</option>
                              <option value="28">28</option>
                              <option value="29">29</option>
                              <option value="30">30</option>
                            </select>
                          </div>
                        </div>

                        <button type="submit" class="button button-block" />Get Started</button>

                      </form>

                    </div>
                  </div>
                  <!-- tab-content -->
                </div>
              </div>

            </div>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <p class="lead">Shop Name</p>
        <div class="list-group">
          <a href="#" class="list-group-item">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>
      </div>

      <div class="col-md-9">

        <div class="row carousel-holder">

          <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <img class="slide-image" src="http://placehold.it/800x300" alt="">
                </div>
                <div class="item">
                  <img class="slide-image" src="http://placehold.it/800x300" alt="">
                </div>
                <div class="item">
                  <img class="slide-image" src="http://placehold.it/800x300" alt="">
                </div>
              </div>
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-sm-4 col-lg-4 col-md-4">
            <a style="display:block" href="/game">
              <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                  <h4 class="pull-right">$24.99</h4>
                  <h4><a href="#">First Product</a>
                  </h4>
                  <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                </div>
                <div class="ratings">
                  <p class="pull-right">15 reviews</p>
                  <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
                <h4 class="pull-right">$64.99</h4>
                <h4><a href="#">Second Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="ratings">
                <p class="pull-right">12 reviews</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star-empty"></span>
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
                <h4 class="pull-right">$74.99</h4>
                <h4><a href="#">Third Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="ratings">
                <p class="pull-right">31 reviews</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star-empty"></span>
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
                <h4 class="pull-right">$84.99</h4>
                <h4><a href="#">Fourth Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="ratings">
                <p class="pull-right">6 reviews</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star-empty"></span>
                  <span class="glyphicon glyphicon-star-empty"></span>
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
                <h4 class="pull-right">$94.99</h4>
                <h4><a href="#">Fifth Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="ratings">
                <p class="pull-right">18 reviews</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star-empty"></span>
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
                <h4 class="pull-right">$94.99</h4>
                <h4><a href="#">Fifth Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="ratings">
                <p class="pull-right">18 reviews</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star-empty"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->

  <div class="container">

    <hr>

    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; SKE13 2017</p>
        </div>
      </div>
    </footer>

  </div>
  <!-- /.container -->

  <!-- jQuery -->
  <script src="/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.min.js"></script>

  <script>
    $(".form").find("input, textarea").on("keyup blur focus", function (e) {
      var $this = $(this),
        label = $this.prev("label");

      if (e.type === "keyup") {
        if ($this.val() === "") {
          label.removeClass("active highlight");
        } else {
          label.addClass("active highlight");
        }
      } else if (e.type === "blur") {
        if ($this.val() === "") {
          label.removeClass("active highlight");
        } else {
          label.removeClass("highlight");
        }
      } else if (e.type === "focus") {
        if ($this.val() === "") {
          label.removeClass("highlight");
        } else if ($this.val() !== "") {
          label.addClass("highlight");
        }
      }
    });

    $(".tab a").on("click", function (e) {
      e.preventDefault();

      $(this).parent().addClass("active");
      $(this).parent().siblings().removeClass("active");

      target = $(this).attr("href");

      $(".tab-content > div").not(target).hide();

      $(target).fadeIn(600);
    });
  </script>

  <script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal 
    btn.onclick = function () {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    // Login window 
    $(".form").find("input, textarea").on("keyup blur focus", function (e) {
      var $this = $(this),
        label = $this.prev("label");

      if (e.type === "keyup") {
        if ($this.val() === "") {
          label.removeClass("active highlight");
        } else {
          label.addClass("active highlight");
        }
      } else if (e.type === "blur") {
        if ($this.val() === "") {
          label.removeClass("active highlight");
        } else {
          label.removeClass("highlight");
        }
      } else if (e.type === "focus") {
        if ($this.val() === "") {
          label.removeClass("highlight");
        } else if ($this.val() !== "") {
          label.addClass("highlight");
        }
      }
    });

    $(".tab a").on("click", function (e) {
      e.preventDefault();

      $(this).parent().addClass("active");
      $(this).parent().siblings().removeClass("active");

      target = $(this).attr("href");

      $(".tab-content > div").not(target).hide();

      $(target).fadeIn(600);
    });

    // dropdown country option
    const dropdown1 = document.querySelector('.js-dropdown1');
    const dropdownValue1 = dropdown1.querySelector('.js-dropdown-value1');
    const dropdownOptions1 = dropdown1.querySelector('.js-dropdown-options1');

    dropdown1.addEventListener('click', (event) => {
      if (event.target === dropdown1) {
        dropdown1.classList.toggle('is-opened');
      }

      if (event.target.classList.contains('js-dropdown-option1')) {
        dropdownValue1.innerText = event.target.innerText;
        dropdown1.classList.remove('is-opened');
      }
    });

    const dropdown2 = document.querySelector('.js-dropdown2');
    const dropdownValue2 = dropdown2.querySelector('.js-dropdown-value2');
    const dropdownOptions2 = dropdown2.querySelector('.js-dropdown-options2');

    dropdown2.addEventListener('click', (event) => {
      if (event.target === dropdown2) {
        dropdown2.classList.toggle('is-opened');
      }

      if (event.target.classList.contains('js-dropdown-option2')) {
        dropdownValue2.innerText = event.target.innerText;
        dropdown2.classList.remove('is-opened');
      }
    });

    const dropdown3 = document.querySelector('.js-dropdown3');
    const dropdownValue3 = dropdown3.querySelector('.js-dropdown-value3');
    const dropdownOptions3 = dropdown3.querySelector('.js-dropdown-options3');

    dropdown3.addEventListener('click', (event) => {
      if (event.target === dropdown3) {
        dropdown3.classList.toggle('is-opened');
      }

      if (event.target.classList.contains('js-dropdown-option3')) {
        dropdownValue3.innerText = event.target.innerText;
        dropdown3.classList.remove('is-opened');
      }
    });
  </script>
</body>

</html>