<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-11">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/featured">Featured</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/store">Store</a>
        </li>
        <li>
          <a href="/library">Library</a>
        </li>
        <li>
          <a href="/wishlist">Wishlist</a>
        </li>
        <li>
          <a href="/profile"><%= username %></a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
      </div>
      <div class="col">
        <ul class="nav navbar-nav">
        <li>
          <a href="/signout">Sign Out</a>
        </li>
      </ul>
      </div>
    </div>
  </div>
  <!-- /.container -->
</nav>