<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>
    <%= username %>
  </title>

  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/css/card.css" rel="stylesheet">

  <!-- jQuery -->
  <script src="/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.min.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <%- include navbar.ejs %>
    <br/>
    <br/>
    <div class="container">
      <div class "row">


        <div class="credit-card-wrapper">
          <div class="credit-card front">
            <form action="/payment/new" method="post">
              <div class="title">
                <div class="card-title">CREDIT CARD</div>
                <div style="width: 45%; float:right">
                  Type:
                  <select name="payment_type" id="gender">
                    <option value="Visa">Visa</option>
                    <option value="Mastercard">Mastercard</option>
                  </select>
                </div>
              </div>

              <div class="card-number">
                <div class="card-number-label">CARD NUMBER</div>
                <div class="card-numbers">
                  <input type="text" class="tbx-number-0" maxlength='4' />
                  <input type="text" class="tbx-number-1" maxlength='4' />
                  <input type="text" class="tbx-number-2" maxlength='4' />
                  <input type="text" class="tbx-number-3" maxlength='4' />
                </div>
              </div>

              <br>
              <br>
              <div class="submit">
                <button type="submit" class="btn btn-default btn-lg" style="height:50px; width:388px;">Confirm card</button>
              </div>
            </form>

          </div>
        </div>

      </div>
    </div>
</body>

</html>